<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">
    <meta name="yandex-verification" content="2afeb05b75398b4d" />
    <meta name="referrer" content="no-referrer-when-downgrade">

    <link rel="icon" type="image/svg+xml" sizes="128x128" href="/icons/catcheck-logo.svg">
    <link rel="icon" type="image/svg+xml" sizes="96x96" href="/icons/catcheck-logo.svg">
    <link rel="icon" type="image/svg+xml" sizes="32x32" href="/icons/catcheck-logo.svg">
    <link rel="icon" type="image/svg+xml" sizes="16x16" href="/icons/catcheck-logo.svg">
    <link rel="icon" type="image/svg+xml" href="/icons/catcheck-logo.svg">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
      (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

      ym(86933962, "init", {
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
      });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/86933962" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2ZFYD60KY4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){window.dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2ZFYD60KY4');
    </script>
    </script>
  </body>
</html>
